<h1><%= @restaurant.name %></h1>

<h3>User's review</h3>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant)%>
<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant)%>
<%= link_to "Delete restaurant", destroy_restaurant_path(@restaurant), method: :delete, data: { confirm: "Do you really want to delete the restaurant?"}%>


